@charset="UTF-8";

h3.alert {
	color: #ff2016;
	text-align: center;
	font-family: Helvetica;
	font-size: 120px;
	padding-top:100px;
	background-color: cyan;
	background-image: url("fachita.jpg");
	height: 600px;
	background-position: center;
	margin: 0.5em;
	border-style: groove;
	border-color: orange;
	border-width: 20px;
}

p {
	font-size: 25px;
	padding-left: 40px;
	font-family: Helvetica;
	color: red;
}

h2 {
	font-size: 45px;
	padding-left: 20px;
	font-family: Sans-Serif;
	color: orange;
}

h3 {
	padding-left: 40px;
	font-family: Sans-Serif;
	color: orange;
}

form {
	font-size: 80px;
	padding-left: 35px;
	padding-bottom: 30px;
	background-color: purple;
	border-style: groove;
	border-color: orange;
	border-width: 20px;
}

body {
	background-color: cyan;
}

a {
	padding-left: 40px;
	color: purple;
}

input {
	font-size: 25px;
	padding-top: 2px;
	padding-bottom: 2px;
}

select {
	font-size: 25px;
	padding-top: 2px;
	padding-bottom: 2px;
}

textarea {
	font-size: 25px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-top: 50px;
}

h1 {
	padding-left: 40px;
	padding-top: 20px;
	text-decoration: underline;
}






