<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Insertar</title>
<meta charset="UTF-8" />
<link rel="stylesheet" type="text/css" href="../static/css/styles.css"
	th:href="@{/css/styles.css}" />
</head>

<body>

	<h1>Insertar anuncio</h1>

	<form action="/save" method="post">
		<p>
			<b>Persona:</b> <input type='text' name='nombre' />
		</p>

		<p>
			<b>Asunto:</b> <input type='text' name='asunto' />
		</p>

		<p>
			<b>Comentario:</b><br />
			<textarea name='comentario' rows='5' cols='40'></textarea>
		</p>

		<input type='submit' value='Guardar' /> <!-- For sending complete objects name shouldn't be returned -->
	</form>

</body>
</html>